aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==25.4.0
black==25.12.0
brotli==1.2.0
cffi==2.0.0
click==8.3.1
cssselect2==0.8.0
fonttools==4.61.1
frozenlist==1.8.0
idna==3.11
jinja2==3.1.6
markupsafe==3.0.3
multidict==6.7.0
mypy-extensions==1.1.0
numpy==2.4.1
packaging==25.0
pandas==2.3.3
pathspec==1.0.3
pillow==12.1.0
platformdirs==4.5.1
propcache==0.4.1
pycparser==2.23
pydyf==0.12.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
pytokens==0.3.0
pytz==2025.2
six==1.17.0
tinycss2==1.5.1
tinyhtml5==2.0.0
tzdata==2025.3
weasyprint==67.0
webencodings==0.5.1
yarl==1.22.0
zopfli==0.4.0
